function myFunction(x) {
	x.classList.toggle("change");
	$('#mmenu').toggleClass("show-menu");
}
$(document).ready(function(){

	$('.single-item').slick({
		infinite: true,
		dots: true,
		arrows: false,
		slidesToScroll: 1
	});







});




$(function() {
	$('.cart-toggle').on('click', function() {


		$.getJSON('/cart.js', function(data) {
			console.log(data);
			let html = '';
			let items = '';
			html += '<div class="count">'+data.item_count+' item(s) in your cart</div>';
			items += '<table>';
			$.each( data.items, function( key, value ) {
				items += '<tr>';

				items += '<td class="td-image"><img src="'+value.image+'" alt="" /></td>';
				items += '<td><a class="title" href="'+value.url+'">'+value.title+'</a><div>Qty: '+value.quantity+'</div></td>';
				items += '<td class="td-price"><span class="item-price price">'+value.price+'</span></td>';

				items += '</tr>';
			});
			items += '</table>';
			html += items;
			html += '<div class="subtotal"><strong>Subtotal </strong><strong class="amount price">'+data.total_price+'</strong>';
			html += '<div class="buttons"><a href="/cart">View Cart</a><a class="checkout" href="/checkout">Checkout</a></div>';

			if( html == "") {
				$("#mini-cart").html('<p>Одну секунду...</p>');
			}
			$("#mini-cart").html(html);

			$('.price', '#mini-cart').each(function() {
				$(this).html( Shopify.formatMoney($(this).text()) );
			});

			$('img', '#mini-cart').each(function() {
				var src = $(this).attr('src');
				src = src.replace('.jpg', '_50x50.jpg');
				src = src.replace('.jpeg', '_50x50.jpeg');
				$(this).attr('src', src);
			});
			

			
		});

	});
	
});